* {
    border-radius: 30px;
    padding: 8px;
    text-align: center;
}
#Description
h2{
    font-size: 50px;
    background: rgb(244, 200, 3);
}
#Description{
    background: rgb(204, 151, 29);
}
#Description
p{
    background: rgb(214, 169, 90);
    color: rgb(12, 57, 12);
    font-size: 20px;
}
#Doc
h2{
    font-size: 50px;
    background: rgb(197, 231, 7);
}
#Doc{
    background: rgb(152, 146, 40);
}
#Doc
p{
    color: rgb(10, 6, 62);
    font-size: 20px;
}
#telechargement{
    cursor: pointer;
    background: rgb(221, 143, 19);
}
body{
    background: orange;
}